.social-share a {
  background-color: gray;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.social-share a:not(:last-child) {
  margin-right: 2px;
}

.social-share a.facebook-share-button {
  background: #3B5999;
}

.social-share a.twitter-share-button {
  background: #55ACEE;
}

.social-share a.google-plus-share-button {
  background: #DD4B39;
}

.social-share a.pinterest-share-button {
  background: #C92228;
}
